#clockContainer {
  margin: auto;
  position: relative;
  padding: 0;
  height: 40vw;
  width: 40vw;
  background: url(clock.png) no-repeat;
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
}

#hour {
  width: 1.5%;
  height: 26%;
  top: 24%;
  left: 49.2%;
  opacity: 0.8;
  transform-origin: bottom;
}

#minute {
  width: 1.5%;
  height: 32%;
  top: 18%;
  left: 49.1%;
  opacity: 0.8;
  transform-origin: bottom;
}

#second {
  width: 1.5%;
  height: 43%;
  top: 6.8%;
  left: 49.1%;
  opacity: 0.8;
  transform-origin: bottom;
}
